.gt-aside {
    padding-left: 15px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.gt-aside .gt-aside-toggle-btn-wrapper {
    pointer-events: auto;
    position: relative;
    overflow: hidden;
    height: 45px;
    width: 100%;
    margin-left: -50px;
    background: url(../imgs/line.png) no-repeat;
    background-position: 20px 26px;
}

.gt-aside .gt-aside-toggle-btn-wrapper .gt-aside-toggle-btn {
    width: 100%;
    pointer-events: none;
}

.gt-aside .gt-aside-toggle-btn-wrapper .gt-aside-toggle-btn .gt-aside-icon:before {
    display: inline-block;
    content: '+';
    position: relative;
    top: -4px;
    left: 5px;
    font-weight: bold;
}

.gt-aside .gt-aside-toggle-btn-wrapper .gt-aside-toggle-btn .gt-aside-icon {
    pointer-events: none;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    top: 2px;
    width: 21px;
    height: 21px;
    background: #333;
    border-radius: 15px;
    padding: 0;
    color: white;
    margin: 0 .4em 0 0;
}

.gt-aside .gt-aside-toggle-btn-wrapper:hover .gt-aside-toggle-btn {}

.gt-aside .gt-aside-toggle-btn-wrapper .gt-aside-toggle-btn .gt-aside-label {
    pointer-events: none;
    display: none;
}

.gt-aside.gt-aside-collapse .gt-aside-toggle-btn-wrapper:hover .gt-aside-toggle-btn .gt-aside-label {
    display: inline-block;
}

.gt-aside .gt-aside-content {}

.gt-aside.gt-aside-collapse .gt-aside-content {}

.gt-aside .gt-aside-example {}

.gt-aside .gt-aside-more {}

.gt-aside .gt-aside-definition {}

.gt-aside .gt-aside-background {}

.gt-aside .gt-aside-in {}

.gt-aside .gt-aside-story {}