/* #region gt-aside animated styles */
/* 
TODO: Fix this animations

.gt-toggle-btn {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 45px;
    width: calc(100% + 50px);
    margin-left: -50px;
    background: url(../imgs/line.png) no-repeat;
    background-position: 20px 26px;
}

.gt-collapse .gt-toggle-btn .gt-icon {
    position: relative;
    top: 1px;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-name: aside-call;
    animation-name: aside-call;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.gt-collapse .gt-toggle-btn:hover .gt-icon {
    -webkit-animation-name: driftUp;
    animation-name: driftUp;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    transition: background-color 0.5s;
    background-color: #96225E;
}

.gt-collapse .gt-toggle-btn .gt-label {
    font-family: 'Josefin Sans';
    color: #96225E;
    position: relative;
    top: -18px;
}

.gt-collapse .gt-toggle-btn:hover .gt-label {
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.gt-collapse .gt-toggle-btn .gt-deco {
    pointer-events: none;
    position: absolute;
    height: 40px;
    width: 800px;
    top: 5px;
    background: url(../imgs/rocket.png), url(../imgs/flame_bottom.png), 
                url(../imgs/flame_top.png), url(../imgs/rocket_line.png), transparent;
    background-repeat: no-repeat;
    background-position-x: 720px, 714px, 714px, -50px;
    background-position-y: 9px, 10px, 29px, 20px;
    background-size: 47px 25px, 6px 5px, 6px 5px, 800px 2px;
    transform: translateX(-800px);
    -webkit-transform: translateX(-800px);
}

.gt-collapse .gt-toggle-btn.go-in .gt-deco {
    -webkit-animation-name: rocket-burst;
    animation-name: rocket-burst;
    -webkit-animation-iteration-count: infinite, 1;
    animation-iteration-count: infinite, 1;
    -webkit-animation-iteration-count: infinite, 1;
    animation-duration: .15s, 1.5s;
    -webkit-animation-duration: .15s, 1.5s;
    animation-delay: 0s, 1s;
    -webkit-animation-delay: 0s, 0s;
    animation-fill-mode: forwards;
    transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    transition: transform 1.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.gt-collapse .gt-toggle-btn.go-out .gt-deco {
    -webkit-animation-name: rocket-burst;
    animation-name: rocket-burst;
    -webkit-animation-iteration-count: infinite, 1;
    animation-iteration-count: infinite, 1;
    -webkit-animation-iteration-count: infinite, 1;
    animation-duration: .15s, 1.5s;
    -webkit-animation-duration: .15s, 1.5s;
    animation-delay: 0s, 1s;
    -webkit-animation-delay: 0s, 0s;
    animation-fill-mode: forwards;
    transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
    transition: transform .8s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.5s;
}

 */

/* #endregion */

#main.main article h2 {
    font-size: 1.7em !important;
}

#main.main article h3 {
    font-size: 1.5em !important;
}

#main.main article h4 {
    font-size: 1.35em !important;
}

#main.main article h5 {
    font-size: 1.2em !important;
}

#main.main article h6 {
    font-size: 1.1em !important;
}

#main.main article ul {
    padding-left: 3ex;
}

#main.main .post.type-post,
.post.type-post {
    padding-top: 7em;
    padding-bottom: 4em;
    margin-bottom: 0;
}

#main.main .post.type-post:nth-child(2n+1),
.post.type-post:nth-child(2n+1) {
    background: radial-gradient( circle at 58% 101%, rgb(116, 25, 72) 0, rgb(116, 25, 72) 10px, rgba(187, 129, 159, 0.5) 11px, rgba(187, 129, 159, 0.5) 15px, transparent 16px), radial-gradient( circle at 75% 98.5%, rgb(116, 25, 72) 0, rgb(116, 25, 72) 20px, rgba(187, 129, 159, 0.5) 21px, rgba(187, 129, 159, 0.5) 27px, transparent 28px), radial-gradient( circle at 88% 100%, rgba(149, 33, 93, 1) 0, rgba(149, 33, 93, 1) 30px, rgba(187, 129, 159, 0.5) 31px, rgba(187, 129, 159, 0.5) 45px, transparent 46px), radial-gradient( circle at 5% 1%, rgb(116, 25, 72) 0, rgb(116, 25, 72) 10px, rgba(187, 129, 159, 0.5) 11px, rgba(187, 129, 159, 0.5) 15px, transparent 16px), radial-gradient( circle at 25% 0.2%, rgb(116, 25, 72) 0, rgb(116, 25, 72) 20px, rgba(187, 129, 159, 0.5) 21px, rgba(187, 129, 159, 0.5) 27px, transparent 28px), radial-gradient( circle at 22% 0%, rgba(149, 33, 93, 1) 0, rgba(149, 33, 93, 1) 30px, rgba(187, 129, 159, 0.5) 31px, rgba(187, 129, 159, 0.5) 45px, transparent 46px), radial-gradient( circle at 95% 100%, transparent 0, transparent 85px, rgb(255, 255, 255) 86px);
}

#main.main .post.type-post:nth-child(2n),
.post.type-post:nth-child(2n) {
    background: radial-gradient( circle at 58% 1%, rgb(116, 25, 72) 0, rgb(116, 25, 72) 10px, rgba(187, 129, 159, 0.5) 11px, rgba(187, 129, 159, 0.5) 15px, transparent 16px), radial-gradient( circle at 75% -1.5%, rgb(116, 25, 72) 0, rgb(116, 25, 72) 20px, rgba(187, 129, 159, 0.5) 21px, rgba(187, 129, 159, 0.5) 27px, transparent 28px), radial-gradient( circle at 88% 0%, rgba(149, 33, 93, 1) 0, rgba(149, 33, 93, 1) 30px, rgba(187, 129, 159, 0.5) 31px, rgba(187, 129, 159, 0.5) 45px, transparent 46px), radial-gradient( circle at 5% 101%, rgb(116, 25, 72) 0, rgb(116, 25, 72) 10px, rgba(187, 129, 159, 0.5) 11px, rgba(187, 129, 159, 0.5) 15px, transparent 16px), radial-gradient( circle at 25% 100.2%, rgb(116, 25, 72) 0, rgb(116, 25, 72) 20px, rgba(187, 129, 159, 0.5) 21px, rgba(187, 129, 159, 0.5) 27px, transparent 28px), radial-gradient( circle at 22% 100%, rgba(149, 33, 93, 1) 0, rgba(149, 33, 93, 1) 30px, rgba(187, 129, 159, 0.5) 31px, rgba(187, 129, 159, 0.5) 45px, transparent 46px), radial-gradient( circle at 95% 0%, transparent 0, transparent 85px, rgb(255, 255, 255) 86px);
}


/* background: linear-gradient(-45deg,  
    rgba(149, 33, 93, 0.6) 0em,
        rgba(149, 33, 93, 0.6) 3em,
        rgba(255, 255, 255, .35) 3.01em,
        rgba(255, 255, 255, .3) 4em,
        rgba(149, 33, 93, 0.6) 4.01em,
        transparent 5.9em,
        rgba(255, 255, 255, .9) 5.91em,
        rgba(255, 255, 255, .9) 6.3em,
        rgba(149, 33, 93, 0.6) 6.31em,
        rgba(149, 33, 93, 0.6) 6.70em,
        rgba(255, 255, 255, 1) 6.71em,
        rgba(255,255,255,1) 100%); */

#main.main .post.type-post .featured-bar {
    height: 5px;
    background-color: transparent;
}

#main.main .post.type-post .entry-header {
    margin: 1em 0;
}

.post-featured-image {
    padding-top: 1em;
}

#main.main .post-thumbnail-container+.featured-bar {
    margin-top: .5em;
}

#main.main .post-thumbnail-container:hover+.featured-bar::before {
    opacity: 0;
}
#main.main  pre {
    border: none;
}